[General]
FullMachineName={{ hostvars[inventory_hostname]['ansible_default_ipv4']['address'] }}
SuiteSpotUserID={{ dirsrv_user | default('dirsrv') }}
SuiteSpotGroup={{ dirsrv_group | default('dirsrv') }}

[slapd]
SlapdConfigForMC=0
UseExistingMC=0
ServerPort={{ ldap_port }}
ServerIdentifier={{ hostname.stdout }}
Suffix={{ base_root }}
RootDN={{ bind_user }}
RootDNPwd={{ bind_password }}
